*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center; */
    height: 100vh;
    /* width: 100%; */
}

section{
    background-color: rgba(39, 53, 73, 1);
    max-width: 100%;
    height: 100vh;
    padding: 50px;
  /* margin: auto;
  margin-top: 10%; */
}
h3{
    color:rgba(213, 212, 216, 1) ;
}
footer h2{
    text-align: center;
    color: white;
    text-decoration: none;
    background-color:rgba(39, 53, 73, 1); 
    box-shadow: 0 -5px 30px black;

}
footer h2 a{
    text-decoration: none;
    color:rgba(16, 185, 129, 1) ;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
}
button{
    background-color: rgba(16, 185, 129, 1);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: rgba(213, 212, 216, 1) ;
    
}
h2{
    color: rgba(74, 223, 134, 1);
}
h1{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.answer{
    background-color:  rgb(56, 77, 105);
    color: rgba(85, 249, 145, 1);
    width: 200px;
    padding:20px ;
    /* max-height: 20px; */
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    outline: none;
    border: none;
    
    
}
i{
    color: white;
    font-size: 20px;
}
#first-side{
    border-bottom: .1px solid rgba(213, 212, 216, 1);
    padding-bottom: 20px;
    line-height: 50px;
}
#asideTwo{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.font{
position: relative;
}
i{
  position: absolute;
  bottom: 10px;
  left: -25px;
}
@media only screen and (max-width: 400px) {
    #asideTwo{
        gap: 20px;
    }
    h3{
        font-size: medium;
    }
    section{
        padding: 100px;
    }
    footer h2{
        font-size: 15px;
    }
  }
  